.homeImg {
  width: 100vw;
  height: 100vh;
  background: no-repeat center 70%;
  background-size: cover;
  min-height: 500px;
  max-height: 1500px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  display: block;

  &.noShow {
    display: none;
  }
}

.home {
  width: 100%;
  height: 100vh;
  min-height: 500px;
  max-height: 1500px;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .box {
    text-align: center;
    display: inline-block;
    background: rgba(35, 42, 43, .6);
    padding: 20px 40px;
    box-shadow: 0 0 20px 20px rgba(35, 42, 43, .6);

    h1 {
      font-size: 8.0rem;
      margin-bottom: 25px;
      font-weight: bold;

      @media screen and (max-width: 800px) {
        font-size: 6rem;
      }

      br {
        display: none;

        @media screen and (max-width: 560px) {
          display: block;

        }
      }
    }

    p {
      font-size: 2.0rem;

      @media screen and (max-width: 800px) {
        font-size: 1.8rem;
      }

      br {
        display: none;

        @media screen and (max-width: 560px) {
          display: block;

        }
      }

      span {
        color: #ffff00;
      }
    }

    @media screen and (max-width: 340px) {
      padding: 20px 5px;
    }
  }

  .arrow {
    color: white;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      text-align: center;
      font-weight: bold;
      font-size: 2.0rem;
    }

    i {
      display: block;
      font-size: 5rem;
      animation: down 2s ease infinite;
    }
  }
}

@keyframes down {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(0%);
  }
}